.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 650px;
}

.main {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  background-color: #f8f9fa;
  width: calc(100% - 55px);
  position: relative;
}

.catalog {
  display: flex;
}

.content {
  flex: 1;
  height: 100%;
}

.content__header-btn--clear {
  display: none;
}

@media (max-width: 950px) {
  .catalog__nav {
    display: none;
  }

  .content__header-btn--filter {
    display: inline !important;
    margin-right: 20px;
  }

  .main {
    padding-left: 0;
  }
}

/* Catalog Nav */

.catalog__nav {
  width: 220px;
  height: 100vh;
  background: #ecedf5;
}

.catalog__nav-title {
  display: flex;
  align-items: center;
  background-color: #49547d;
  font-family: Gilroy-med;
  height: 45px;
  color: #fff;
  font-size: 22px;
  padding-left: 25px;
  position: relative;
}

.catalog__nav-title--category {
  opacity: 0.7;
  background-color: #49547d;
  color: #fff;
  font-size: 15px;
}

.angle-icon {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  right: 20px;
}

.catalog__nav-form {
  padding: 0 8px 0 9px;
}

.catalog__nav-select {
  width: 100%;
  margin-top: 20px;
  font-family: Gilroy-med;
  font-size: 12px;
  font-weight: 500;
  color: #1a1f33;
  padding: 6px;
  border: none;
  outline: none;
  text-transform: capitalize;
}
