.nav {
  width: 54px;
  padding-top: 28px;
  border: 1px solid #dde3ee;
  background-color: #fff;
  height: 100vh;
}

.nav-svg {
  fill: #49547d;
}

.nav-svg:hover {
  fill: #61d5df;
}

.nav-catalog {
  stroke: #49547d;
}

.nav-catalog:hover {
  stroke: #61d5df;
}

.border {
  border-left: 1px solid red;
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__list-item {
  padding: 0 7px;
  cursor: pointer;
}

.nav__list-item--logo {
  padding-bottom: 23.7px;
  border-bottom: 1px solid #dde3ee;
}
.nav__list-item--logo img {
  width: 100%;
}

.nav__list-item--profile {
  padding-top: 30px;
}

.nav__list-item--profile img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 0;
  background-image: linear-gradient(147deg, #61d5df -3%, #61d5df 101%);
  padding: 1px;
}

.nav__list-item--svg {
  margin-top: 30px;
}

.nav__list-item--svg img {
  width: 20px;
}

.nav__list-item--svg img:hover {
  filter: invert(79%) sepia(52%) saturate(496%) hue-rotate(140deg)
    brightness(94%) contrast(85%);
}

.nav-icon {
  display: none;
}

@media (max-width: 1070px) {
  .nav {
    display: none;
  }

  .nav-icon {
    display: inline;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 15px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
